@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.bg-stars {
  background-image: url('/stars-bg.png');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: top;
}



@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
